<app-regresar Titulo="Editar Calificación"></app-regresar>

<ion-content color="light">
  <ion-item color="light" class="Margen">
    <ion-label position="floating"><strong>Número Del Alumno</strong></ion-label>
    <ion-input [(ngModel)]="enumero" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Asignatura</strong></ion-label>
    <ion-input [(ngModel)]="eAsig" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Calificación</strong></ion-label>
    <ion-input [(ngModel)]="eCalificacion" type="text"></ion-input>
  </ion-item>
  <ion-button size="large" (click)="onClick()" color="primary" style="margin-top: 60px; margin-bottom: 50px; color: white;" shape="round"  expand="block">
    Editar Calificación
  </ion-button>
</ion-content>
