<app-regresar Titulo="Editar Asignatura"></app-regresar>

<ion-content color="light">
  <ion-item color="light" class="Margen">
    <ion-label position="floating"><strong>Nombre</strong></ion-label>
    <ion-input [(ngModel)]="eAsignatura" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Horario</strong></ion-label>
    <ion-input [(ngModel)]="eHorario" type="text"></ion-input>
  </ion-item>
  <ion-button size="large" (click)="onClick()" color="primary" style="margin-top: 60px; margin-bottom: 50px; color: white;" shape="round"  expand="block">
    Editar Asignatura
  </ion-button>
</ion-content>

