<app-regresar Titulo="Registrar Calificaciones"></app-regresar>

<ion-content color="light">
  <ion-item color="light" class="Margen">
    <ion-label position="floating"><strong>Número Del Alumno</strong></ion-label>
    <ion-input [(ngModel)]="inumero" type="text" required></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Asignatura</strong></ion-label>
    <ion-input [(ngModel)]="iAsig" type="text" required></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Calificación</strong></ion-label>
    <ion-input [(ngModel)]="iCalificacion" type="text" required></ion-input>
  </ion-item>
  <ion-button size="large" (click)="onClick()" color="primary" style="margin-top: 60px; margin-bottom: 50px; color: white;" shape="round"  expand="block">
    Registrar Calificación
  </ion-button>
</ion-content>
