<app-regresar Titulo="Consultar Asignaturas"></app-regresar>


<ion-content color="light">
  <h4 class="h4Especial">Asignaturas:</h4>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="Negro" size="6">Código</ion-col>
      <ion-col class="Negro" size="6">Nombre</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"><a [routerLink]="['/editar-asignatura']">1</a></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"><a [routerLink]="['/editar-asignatura']">2</a></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"><a [routerLink]="['/editar-asignatura']">3</a></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
  <h4 class="h4Especial">Horarios:</h4>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="Negro" size="6">Asignatura</ion-col>
      <ion-col class="Negro" size="6">Horario</ion-col>
    </ion-row>
    <ion-row>
      <ion-col   size="6"></ion-col>
      <ion-col   size="6">8 - 9 a.m</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6">9 - 10 a.m</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6">12 - 1 p.m</ion-col>
    </ion-row>
  </ion-grid>



<!-- Read -->
<ion-item *ngFor="let user of crud.USERS">
  <ion-label>
  <h2><strong>{{ user.asignatura }}</strong></h2>
  <p>{{ user.horario }}</p>
  </ion-label>
  <div class="item-note" item-end>
  <ion-icon color="primary" name="create" style="zoom:1.3" [routerLink]="['/edit/',
  user.user_id]"></ion-icon>
  <ion-icon color="danger" name="trash" style="zoom:1.3"
  (click)="remove(user.user_id)"></ion-icon>
  </div>
  </ion-item>
  

</ion-content>
