
<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button color="light" menu="menu-content">
        </ion-menu-button>
      </ion-buttons>
    <ion-title style="color: white ;">Ventana Principal</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content color="light">
  <h3 style="text-align: center; margin-top: 55px; font-size: 27px; margin-bottom: 27px;">Nombre</h3>
  <p> Cristal Paulino</p>
  <p class="p">Correo Electrónico:</p>
  <p> cristalpl@outlook.com</p>
  <p class="p">Nombre de la escuela:</p>
  <p>La Salle</p>
  <ion-button class="sizeBottomP" (click)="onClick()" color="primary" style="margin-top: 30px; margin-bottom: 50px; color: white;" shape="block">
    Editar Perfil
  </ion-button>
</ion-content>
