<app-regresar Titulo="Editar Perfil"></app-regresar>

<ion-content color="light">
  <ion-item color="light">
    <ion-label position="floating"><strong>Nombre</strong></ion-label>
    <ion-input [(ngModel)]="eNombre" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Apellido</strong></ion-label>
    <ion-input [(ngModel)]="eApellido" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Correo Electrónico</strong></ion-label>
    <ion-input [(ngModel)]="ecorreoE" type="email"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>N. De La Institución</strong></ion-label>
    <ion-input [(ngModel)]="eni" type="text"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label position="floating"><strong>Contraseña</strong></ion-label>
    <ion-input [(ngModel)]="epass" type="password"></ion-input>
  </ion-item>
  <ion-button size="large" (click)="onClick()" color="primary" style="margin-top: 60px; margin-bottom: 50px; color: white;" shape="round"  expand="block">
    Guardar Cambios
  </ion-button>
</ion-content>
